@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Pretendard";
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./assets/fonts/Pretendard-Regular.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./assets/fonts/Pretendard-Medium.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./assets/fonts/Pretendard-Bold.woff");
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounceIn {
  animation: bounceIn 0.6s ease-out;
}

@layer base {
  html {
    font-family: "Pretendard", system-ui, sans-serif;
  }
}
